.h-100-class{
  height: 100vh;
}

.setting-shadow {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08) !important;
}

.setting-shadow h3 {
  padding-top: 2rem;
}

.setting-shadow p {
  padding-bottom: 1rem;
}

.display-false-class {
  display: none !important;
}

.display-true-class {
  display: block !important;
}

.card-add-f-btn:hover {
  color: white !important;
}

.disactive {
  pointer-events: none;
  cursor: default;
}

.logo-src-payment{
  cursor: pointer;
  border: .5px solid white;
}

.user-pic {
  height: 5rem;
}

.logo-vinn {
  height: 4rem;
  padding-right: 4rem;
}

.logo-winn {
  height: 30px;
  width: 90px;
}

.brand-color{
  color: #4f4693;
}

.resize-logo-Humo {
  height: 50px;
  width: 60px;
}

.resize-logo-Visa {
  height: 50px;
  width: 60px;
}

.logo-img-mobile-payment{
  height: 5rem;
  width: 5rem;
}